#root{
    @apply h-screen w-screen
}
.main{
    height: 90%;
    @apply flex gap-4 box-border border-8 p-4 border-t-4
}
.card{
    @apply shadow-md rounded-md shadow-gray-400 p-4 bg-white;
}
.left{
    width: 35%;
    @apply h-full flex flex-col gap-4
}
.info{
    height: 30%;
    @apply w-full
}
.body{
    height: 70%;
    @apply w-full
}
.airplane{
    width: 65%;
    @apply h-full flex justify-center
}