
.air-grid{
    @apply justify-evenly w-full flex flex-col p-4 h-full auto-rows-fr overflow-auto;
}
@media(min-height: 1000px){
    .air-grid  {
        @apply gap-2;
    }
}
@media(max-height: 800px){
    .air-grid  {
        @apply pt-10;
    }
}
@media(max-height: 760px){
    .air-grid  {
        @apply pt-20;
    }
}
@media(max-height: 720px){
    .air-grid  {
        @apply pt-32;
    }
}
@media(max-height: 650px){
    .air-grid  {
        @apply pt-44;
    }
}

.air{
    @apply h-full w-full flex shadow-md shadow-gray-100 rounded-md gap-2;
}
.air-container{
    @apply h-full w-2/3 flex flex-col box-border border-4 border-gray-300 p-1 shadow-md shadow-gray-100 rounded-md;
}


.seat-container{
    @apply h-full w-full box-border border-4 gap-2 justify-center flex flex-col items-center rounded-md text-xs;
}

.row-container{
    @apply h-full w-full gap-4 flex
}


.air-info{
    @apply h-2/6 w-full flex flex-col gap-1 shadow-md shadow-gray-100 rounded-md items-start p-4;
}
.header{
    height: 20%;
}
.air-parametri{
    height: calc(80% - 0.25rem);
    @apply flex flex-row items-center justify-between w-full;
}
.air-h-row{
    height: 33%;
    @apply flex items-center gap-2;
}

.air-left{
    @apply flex flex-col h-full w-1/3
}
